#  https://help.github.com/en/articles/about-code-owners
#
# Global Owners
* @signalfx/gdi-dotnet-maintainers @signalfx/gdi-dotnet-approvers

.github/CODEOWNERS @signalfx/gdi-dotnet-maintainers

#####################################################
#
# Docs reviewers
#
#####################################################

*.md    @signalfx/gdi-dotnet-maintainers @signalfx/gdi-dotnet-approvers @signalfx/gdi-docs
*.rst   @signalfx/gdi-dotnet-maintainers @signalfx/gdi-dotnet-approvers @signalfx/gdi-docs
docs/   @signalfx/gdi-dotnet-maintainers @signalfx/gdi-dotnet-approvers @signalfx/gdi-docs
README* @signalfx/gdi-dotnet-maintainers @signalfx/gdi-dotnet-approvers @signalfx/gdi-docs
