<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <appSettings>
        <!-- For SmokeTests.ManagedLogsHaveNoSensitiveData -->
        <add key="OTEL_NORMAL_VALUE" value="this is NOT secret" />
        <add key="OTEL_api_VALUE" value="this is secret!" />
        <add key="OTEL_Token_VALUE" value="this is secret!" />
        <add key="OTEL_SeCrEt_VALUE" value="this is secret!" />
        <add key="OTEL_KEY_VALUE" value="this is secret!" />
        <add key="OTEL_PASSWORD_VALUE" value="this is secret!" />
        <add key="OTEL_PASS_VALUE" value="this is secret!" />
        <add key="OTEL_PWD_VALUE" value="this is secret!" />
        <add key="OTEL_PWD_VALUE" value="this is secret!" />
        <add key="OTEL_HEADER_VALUE" value="this is secret!" />
        <add key="OTEL_CREDENTIALS_VALUE" value="this is secret!" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
