name: ci

on:
  push:
    branches: [ main ]
    tags: [ v* ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        machine: [ windows-2022, ubuntu-20.04, macos-11 ]
    runs-on: ${{ matrix.machine }}
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions/setup-dotnet@v3.0.2
        with:
          dotnet-version: | 
            3.1.423
            6.0.401
      - run: ./build.cmd Workflow
      - uses: actions/upload-artifact@v3.1.1
        with:
          name: bin-${{ matrix.machine }}
          path: bin/splunk-*.zip

  container-build:
    strategy:
      fail-fast: false
      matrix:
        base-image: [ alpine ]
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v3.1.0
    - name: Build Docker image
      run: |
        docker build \
          --tag splunk-otel-dotnet/${{ matrix.base-image }} \
          --file "./build/docker/${{ matrix.base-image }}.dockerfile" \
          ./build
    - name: Build in Docker container
      run: |
        docker run --rm \
          --mount type=bind,source="${GITHUB_WORKSPACE}",target=/project \
          splunk-otel-dotnet/${{ matrix.base-image }} \
          ./build.sh Workflow
    - uses: actions/upload-artifact@v3.1.1
      with:
        name: bin-${{ matrix.base-image }}
        path: bin/splunk-*.zip

  shell-scripts:
    strategy:
      fail-fast: false
      matrix:
        include:
          - machine: windows-2022
            log-dir: "/c/ProgramData/OpenTelemetry .NET AutoInstrumentation/logs"
          - machine: ubuntu-20.04
            log-dir: "/var/log/opentelemetry/dotnet"
          - machine: macos-11
            log-dir: "/var/log/opentelemetry/dotnet"
    runs-on: ${{ matrix.machine }}
    steps:
      - uses: actions/setup-dotnet@v3.0.2
        with:
          dotnet-version: 6.0.x
      - run: brew install coreutils
        if: ${{ runner.os == 'macOS' }}
      - name: Create test directory
        run: sudo mkdir -p ${{ matrix.log-dir }} && sudo chmod a+rwx ${{ matrix.log-dir }}  # workaround before next release
        if: ${{ runner.os != 'Windows' }}
      - name: Test the Shell scripts from README.md
        shell: bash
        run: |
          set -e
          curl -sSfL https://raw.githubusercontent.com/${{ github.repository }}/${{ github.sha }}/splunk-otel-dotnet-install.sh -O
          sh ./splunk-otel-dotnet-install.sh
            test "$(ls -A "$HOME/.splunk-otel-dotnet")"
          curl -sSfL https://raw.githubusercontent.com/${{ github.repository }}/${{ github.sha }}/instrument.sh -O
          . ./instrument.sh
          dotnet help
            test "$(ls -A '${{ matrix.log-dir }}' )"
