name: publish splunk-otel-dotnet operator docker image to ghcr

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Get the latest release version
        run: |
          if [[ "$GITHUB_REF_NAME" =~ ^v[0-9]+\.[0-9]+\.x$ ]]; then
            # get the latest tag on the release branch
            RELEASE_VERSION="$(git describe --abbrev=0)"
          elif [[ "$GITHUB_REF_NAME" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            RELEASE_VERSION="$GITHUB_REF_NAME"
          else 
            echo "This script can only be run on the tag or a release branch"
            exit 1
          fi
          echo RELEASE_VERSION=${RELEASE_VERSION} >> $GITHUB_ENV

      - name: Set the major version number
        run: echo MAJOR_VERSION=${GITHUB_REF_NAME} | sed -e 's/\..*//' >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: build and publish container
        uses: docker/build-push-action@1dc73863535b631f98b2378be8619f83b136f4a0 # v6.17.0
        with:
          push: true
          file: Dockerfile
          platforms: linux/amd64
          build-args: |
            RELEASE_VER=${{ env.RELEASE_VERSION }}
          tags: |
            ghcr.io/signalfx/splunk-otel-dotnet/splunk-otel-dotnet:latest
            ghcr.io/signalfx/splunk-otel-dotnet/splunk-otel-dotnet:${{ env.MAJOR_VERSION }}
            ghcr.io/signalfx/splunk-otel-dotnet/splunk-otel-dotnet:${{ env.RELEASE_VERSION }}


