name: scripts-test

on:
  release:
    types: [published]

jobs:
  powershell-script:
    runs-on: windows-2022
    steps:
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: 10.0.101
      - name: Test the PowerShell module instructions from README.md
        shell: powershell
        run: |
          mkdir testapp
          cd testapp
          dotnet new console
          dotnet publish -f net10.0 -c Release
          $module_url = "https://github.com/signalfx/splunk-otel-dotnet/releases/download/${{ github.event.release.tag_name }}/Splunk.OTel.DotNet.psm1"
          $dl_path = Join-Path $env:temp "Splunk.OTel.DotNet.psm1"
          $log_path = "C:\ProgramData\OpenTelemetry .NET AutoInstrumentation\logs\*"
          Invoke-WebRequest -Uri $module_url -OutFile $dl_path
          Import-Module $dl_path
          Install-OpenTelemetryCore
          $install_dir = Get-OpenTelemetryInstallDirectory
          Register-OpenTelemetryForCurrentSession -OTelServiceName "MyServiceDisplayName"
          ./bin/Release/net10.0/publish/testapp
          if (-not $?) { throw "dotnet help returned exit code: $LASTEXITCODE" }
          if (-not (Test-Path $log_path)) { throw "Log file does not exist. Instrumentation test failed." }
          Remove-Item $log_path
          Unregister-OpenTelemetryForCurrentSession
          ./bin/Release/net10.0/publish/testapp
          if (-not $?) { throw "dotnet help returned exit code: $LASTEXITCODE" }
          if (Test-Path $log_path) { throw "Log file exists. Instrumentation unregister failed." }
          Uninstall-OpenTelemetryCore
          if (Test-Path $install_dir) { throw "Core files exist. Core uninstall failed." }

  shell-scripts:
    strategy:
      fail-fast: false
      matrix:
        include:
          - machine: windows-2022
            log-dir: "/c/ProgramData/OpenTelemetry .NET AutoInstrumentation/logs"
          - machine: ubuntu-22.04
            log-dir: "/var/log/opentelemetry/dotnet"
          - machine: macos-14
            log-dir: "/var/log/opentelemetry/dotnet"
    runs-on: ${{ matrix.machine }}
    steps:
      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: 10.0.101
      - run: brew install coreutils
        if: ${{ runner.os == 'macOS' }}
      - name: Create test directory
        run: sudo mkdir -p ${{ matrix.log-dir }} && sudo chmod a+rw- ${{ matrix.log-dir }}
        if: ${{ runner.os != 'Windows' }}
      - name: Test the Shell scripts from README.md
        shell: bash
        run: |
          mkdir testapp
          cd testapp
          dotnet new console
          dotnet publish -f net10.0 -c Release
          set -e
          curl -sSfL https://github.com/signalfx/splunk-otel-dotnet/releases/download/${{ github.event.release.tag_name }}/splunk-otel-dotnet-install.sh -O
          sh ./splunk-otel-dotnet-install.sh
            test "$(ls -A "$HOME/.splunk-otel-dotnet")"
          curl -sSfL https://raw.githubusercontent.com/${{ github.repository }}/${{ github.sha }}/instrument.sh -O
          . ./instrument.sh
          ./bin/Release/net10.0/publish/testapp
            test "$(ls -A '${{ matrix.log-dir }}' )"

  shell-scripts-container:
    strategy:
      fail-fast: false
      matrix:
        include:
          - machine: ubuntu-22.04
            base-image: alpine-x64
          - machine: ubuntu-22.04-arm
            base-image: alpine-arm64
    runs-on: ${{ matrix.machine }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Test the Shell scripts from README.md in Docker container
        run: |
          set -e
          docker build -t mybuildimage -f "./docker/${{ matrix.base-image }}.dockerfile" .
          docker run --mount type=bind,source="${GITHUB_WORKSPACE}",target=/project --rm mybuildimage /bin/sh -c '
            set -e
            mkdir testapp
            cd testapp
            dotnet new console
            dotnet publish /p:TreatWarningsAsErrors=false -f net10.0 -c Release
            curl -sSfL https://github.com/signalfx/splunk-otel-dotnet/releases/download/${{ github.event.release.tag_name }}/splunk-otel-dotnet-install.sh -O
            sh ./splunk-otel-dotnet-install.sh
              test "$(ls -A "$HOME/.splunk-otel-dotnet")"
            curl -sSfL https://raw.githubusercontent.com/${{ github.repository }}/${{ github.sha }}/instrument.sh -O
            . ./instrument.sh
            ./bin/Release/net10.0/publish/testapp
              test "$(ls -A /var/log/opentelemetry/dotnet )"
          '
